html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Direct_Message_Blocky";
  src: url("/fonts/Direct_Message_Blocky.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.pixel-font {
    font-family: "Direct_Message_Blocky";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
